@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: rgb(243, 173, 93);
    color: #F1F1F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#display {
    width: 200px;
    margin: 0px auto;
    border-bottom: 5px #F1F1F1 solid;
    text-align: center;
    padding: 5px;
}

#display > p{
    font-size: 30px;
    display: inline;
    padding: 10px;
}

#contener_timer {
    background-color: rgb(243, 173, 93);
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    display: inline-block;
    border: 5px solid #F1F1F1;
    border-radius: 50%;
    min-width: 160px;
    min-height: 160px;
    padding: 40px;
    text-align: center;
}

#timer {
    color: #FFFFFF;
    font-size: 50px;
}

#contener_button {
    text-align: center;
    margin-top: 40px;
}

#reset, #start {
    font-size: 50px;
    background: none;
    border: none;
    text-decoration: none;
    margin: 0px auto;
    color: #F1F1F1;
}

#reset {
    display: none;
}

#work_display {
    color: red;
}

#pause_display {
    color: green;
}

#form {
    margin-top: 25px;
}

#form input {
    font-size: 23px;
    margin-top: 10px;
}