body {
    background-color: rgb(199,1,26);
    color: #F1F1F1;
}

h1 {
    text-align: center;
}

#display {
    width: 200px;
    margin: 0px auto;
    border: 3px black solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#display > p{
    display: inline;
    padding: 10px;
}

#contener_timer {
    text-align: center;
}

#contener_button {
    text-align: center;
}

#reset, #start {
    text-decoration: none;
    margin: 0px auto;
}

#reset {
    display: none;
}

#work_display {
    color: green;
}

#pause_display {
    color: red;
}